body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgbaa(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)), url('images.jpeg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.signup-title{
    margin-top: 100px;
    color: #9e1b1b;
    text-transform : uppercase;
    transition: all 4s ease-in-out;
    
}
